.projCard
  width: 300px
  height: 350px
  background-color: white
  padding: 10px
  margin: 10px
  display: flex
  flex-direction: column
  align-items: center
  
.projImg
  object-fit: cover
  height: 45%
  width: 100%

.iconTitle
  display: flex
  flex-direction: row

.iconImg
  position: relative
  width: 30%
  border-radius: 50%
  border: 2px solid black
  margin-top: -15%
  background-color: white
  z-index: 1
  text-align: center
  vertical-align: middle
  img
    margin-top: 10%
    width: 80%
    object-fit: cover

.title
  flex-grow: 1
  text-align: center

.desc
  margin: 10px