---
import MainHead from "../components/MainHead.astro"
import Footer from "../components/Footer.astro"
import Nav from "../components/Nav.astro"
---

<html lang="en">
  <head>
    <MainHead
      title="About | Victor Shan"
      description="About Victor Shan Lorem Ipsum"
    />
    <style>
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;
      }

      .heroImg img {
        width: 100%;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }

      .wrapper.bio {
        max-width: 50em;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About Victor</h1>
      <div class="heroImg">
        <img
          width="1400"
          height="350"
          src="https://images.unsplash.com/photo-1644204617659-c8b3bb6800db?auto=format&fit=crop&w=1471&q=80"
        />
      </div>
      <div class="bio wrapper">
        <p>
          I am a software engineer who has studied computer science at the
          University of Washington. Growing up in Canada, I have developed a
          slight resistance to cold but a weakness to heat. After moving to the
          United States, I attended school and acquired my CS degree. I created
          this website to showcase some of the projects I've worked on over the
          years and see my progress. Feel free to connect with me on LinkedIn or
          check out my projects on GitHub.
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
